<a href="https://colab.research.google.com/github/pavana-p-kulal/Applications-of-Python-Programming-in-DA-and-ML/blob/master/Day_1_session_Programming_examples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Program to Add Two Numbers getting through key board

In [1]:
# sum of two nos
num1 = int(input("Enter first no"))
num2 = int(input("Enter second no"))

# Adding the two numbers
sum = num1 + num2

# Display the sum
print('The sum of {0} and {1} is {2}'.format(num1, num2, sum))

Enter first no2
Enter second no3
The sum of 2 and 3 is 5

Python program to check if the input year is a leap year or not

In [2]:
# To get year (integer input) from the user
year = int(input("Enter a year: "))

if ((year % 4) == 0 and (year % 100)  != 0) or ((year % 400) == 0):
           print("{0} is a leap year".format(year))
else:
           print("{0} is not a leap year".format(year))

Enter a year: 2018
2018 is not a leap year

Python Program to Generate a Random Number

In [3]:
# Program to generate a random number between 0 and 9
# import the random module
import random
print(random.randint(0,9))

1

Python Program to Convert Kilometers to Miles

In [4]:
# To take kilometers from the user, uncomment the code below
kilometers = int(input("Enter value in kilometers"))

# conversion factor
conv_fac = 0.621371

# calculate miles
miles = kilometers * conv_fac
print('%0.3f kilometers is equal to %0.3f miles' %(kilometers,miles))

Enter value in kilometers15
15.000 kilometers is equal to 9.321 miles

Python Program to Solve Quadratic Equation

In [5]:
# Solve the quadratic equation ax**2 + bx + c = 0
# importing  complex math module
import cmath

 # To take coefficient input from the users
a = float(input('Enter a: '))
b = float(input('Enter b: '))
c = float(input('Enter c: '))

# calculate the discriminant
d = (b**2) - (4*a*c)

# find two solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solution are {0} and {1}'.format(sol1,sol2))

Enter a: 4
Enter b: 7
Enter c: 3
The solution are (-1+0j) and (-0.75+0j)

Python Program to find prime or not using function

In [6]:
def test_prime(n):
    if (n==1):
        return False
    elif (n==2):
        return True;
    else:
        for x in range(2,n):
            if(n % x==0):
                return False
        return True
no=int(input("Enter the number"))
if (test_prime(no)) is True :
    print(" {0} is a prime no".format(no))
else:
     print(" {0} is not a prime no".format(no))

Enter the number11
 11 is a prime no

Calculator program

In [7]:
loop = 1 # 1 means loop; anything else means don't loop.
choice = 0 # This variable holds the user's choice in the menu

def add(a,b):
    return a+b 
def sub(a,b):
    return a-b
def mul(a,b):
    return a*b
def div(a,b):
    return a/b

while loop == 1:
    # Print what options you have
    print ("Welcome to calculator.py")
    print ("your options are:")
    print (" ")
    print("1) Addition")
    print("2) Subtraction")
    print("3) Multiplication")
    print("4) Division")
    print("5) Quit calculator.py")
    print(" ")
      try:
        choice = int(input("Choose your option: "))
    except:
        print('please enter a valid number for option')
    print(" ")
    print(" ")
    if choice == 1:
        x = int(input(“Enter 1st no: "))
        y = int(input("Enter 2nd no: "))
        print("The answer is ",add(x,y))

   elif choice == 2:
        x = int(input("Enter 1st no: "))
        y = int(input("Enter 2nd no: "))
        print("answer is ",sub(x,y))
  
  elif choice == 3:
        x = int(input("Enter 1st no: "))
        y = int(input("Enter 2nd no: "))
        print("answer is ",mul(x,y))

    elif choice == 4:
        x = int(input("Enter 1st no: "))
        y = int(input("Enter 2nd no: "))
        print("answer is ",div(x,y))
        
    elif choice == 5:
        loop = 0
     
   else:
        print("please choice a valid option from 1 to 5")
        choice=0
print ("Thank-you for using calculator.py!")

IndentationError: ignored

1.	Find the compound interest for the given p,n,r  (formula : p(1+n*r/100)n )

In [8]:
def compound_interest(principle, rate, time): 
    CI = principle * (pow((1 + rate / 100), time)) 
    print("Compound interest is", CI) 
p=int(input("enter p value: "))
n=int(input("enter n value: "))
r=float(input("enter r value: "))
compound_interest(p, r, n)

enter p value: 5
enter n value: 10
enter r value: 15
Compound interest is 20.227788678539532

2.	Convert centegrade to farenheit  ( f= 9/5*c+32)

In [10]:
celsius = float(input("Enter temperature in celsius: "))
fahrenheit = (celsius * 9/5) + 32
print('%.2f Celsius is: %0.2f Fahrenheit' %(celsius, fahrenheit))

Enter temperature in celsius: 45
45.00 Celsius is: 113.00 Fahrenheit

3.	Find the greater of two nos

In [11]:
a=int(input("enter a num : "))
b=int(input("enter a num : "))
print("greater num is : ")
if(a>b):
  print(a)
else:
  print(b)

enter a num : 50
enter a num : 100
greater num is :
100

4.	Write a program for finding surface areas of cylinder and cone (2*PI*r*r*h, 1/3*PI*r*r*h) using function.

In [13]:
import math
def Cylinder(r,h):
  return 2*math.pi*r*r*h
def cone(r,h):
  return (1/3)*math.pi*r*r*h
r=int(input("enter r value : "))
h=int(input("enter h value"))
print("surface area of cylinder is : %.2f"%Cylinder(r,h))
print("surface area of cone is : %.2f "%cone(r,h))

enter r value : 10
enter h value20
surface area of cylinder is : 12566.37
surface area of cone is : 2094.40

5.	Find the greatest of four nos ( using ‘and’ operator)   using function.

In [14]:
a=int(input("enter 1st num: "))
b=int(input("enter 2nd num: "))
c=int(input("enter 3rd num: "))
d=int(input("enter 4th num: "))
print("greater num is : ")
if(a>b and a>c and a>d):
  print(a)
elif(b>c and b>d):
  print(b)
elif(c>d):
  print(c)
else:
  print(d)

enter 1st num: 10
enter 2nd num: 20
enter 3rd num: 30
enter 4th num: 40
greater num is :
40

6.	Write a  menu program to perform the operations ( ODDorEven, Factorial, ODDNoUptoN, PrimeUptoN ) using functions for two nos with  menu choice

In [15]:
loop = 1 
choice = 0 

def oddoreven(a):
  if(a%2==0):
    print("even")
  else:
    print("odd") 
def fact(num):
  factorial=1
  if num < 0:
     print("Sorry, factorial does not exist for negative numbers")
  elif num == 0:
     print("The factorial of 0 is 1")
  else:
     for i in range(1,num + 1):
         factorial = factorial*i
     print("The factorial of",num,"is",factorial)
def odd(n):
   print("odd numbers: ");
   for i in range(1,n+1):
      if(i%2!=0):
        print(i)
def prime(l,h):
  print("prime numbers: ")
  for num in range(l,h + 1):  
   if num > 1:  
       for i in range(2,num):  
           if (num % i) == 0:  
               break  
       else:  
           print(num)  

while loop == 1:
  print ("Welcome")
  print ("your options are:")
  print ("")
  print("1) odd or even")
  print("2) factorial")
  print("3) odd upto n")
  print("4) prime upto n")
  print("5) Quit ")
  print("")
  try:
    choice = int(input("Choose your option: "))
  except:
     print('please enter a valid number for option')
     print("")
  print("")
  if choice == 1:
       x = int(input(" Enter  no: "))
       oddoreven(x)

  elif choice == 2:
     x = int(input("Enter  no: "))
     fact(x)

  elif choice == 3:
      x = int(input("Enter range: "))
      odd(x)

  elif choice == 4:
       x = int(input("Enter lower range: "))
       y = int(input("Enter upper range: "))
       prime(x,y)

  elif choice == 5:
      loop = 0

  else:
       print("please choice a valid option from 1 to 5")
       choice=0
print ("Thank-you ")

Welcome
your options are:

1) odd or even
2) factorial
3) odd upto n
4) prime upto n
5) Quit

Choose your option: dd or even
please enter a valid number for option


please choice a valid option from 1 to 5
Welcome
your options are:

1) odd or even
2) factorial
3) odd upto n
4) prime upto n
5) Quit

Choose your option: 1

 Enter  no: 5
odd
Welcome
your options are:

1) odd or even
2) factorial
3) odd upto n
4) prime upto n
5) Quit

Choose your option: 2

Enter  no: 5
The factorial of 5 is 120
Welcome
your options are:

1) odd or even
2) factorial
3) odd upto n
4) prime upto n
5) Quit

Choose your option: 3

Enter range: 10
odd numbers:
1
3
5
7
9
Welcome
your options are:

1) odd or even
2) factorial
3) odd upto n
4) prime upto n
5) Quit

Choose your option: 4

Enter lower range: 11
Enter upper range: 101
prime numbers:
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
Welcome
your options are:

1) odd or even
2) factorial
3) odd upto n
4) prime upto n
5) Quit

Choose your option: 1

 Enter  no: 10
even
Welcome
your options are:

1) odd or even
2) factorial
3) odd upto n
4) prime upto n
5) Quit

Choose your option: 5

Thank-you